
@{
    ViewData["Title"] = "Добавление нового опроса";
}

<script src="~/lib/autosize-master/dist/autosize.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/js/jquery.ddslick.min.js"></script>
<link type="text/css" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />





<style>

    a.dd-selected {
        color: rgba(51, 51, 51, 0.78);
    }

    label.dd-selected-text {
        cursor: pointer;
        font-size: 14px;
    }

    a.dd-option {
        color: rgba(51, 51, 51, 0.78);
    }

    label.dd-option-text {
        cursor: pointer;
        color: rgba(51, 51, 51, 0.78);
        font-size: 14px;
    }

    .separate {
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .leftdiv {
        width: 30%;
        float: left;
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5em;
    }

    .rightdiv {
        width: 70%;
    }


    .contentBox {
        background-color: white;
        border: 1px solid;
        width: 742px;
        margin-top: 1em;
    }

    input[type=text] {
        transition: 0.6s;
        border: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
    }

    textarea {
        transition: 0.6s;
        border: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
    }

    .box {
        border-top-style: groove;
        border-top-width: thin;
    }

    .hl {
        border-bottom: 1px solid #c7c7c7;
        margin-left: auto;
        margin-right: auto;
        width: 95%
    }

    .vl {
        border-right: 1px solid #c7c7c7; /* Параметры линии */
        height: 30px;
        width: 1px;
    }

    .questionfooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .optionseparation {
        display: flex;
        align-items: center;
    }

    .optionleft {
        width: 5%;
        float: left;
        display: flex;
    }

    .optionright {
        width: 95%;
    }

    #left-menu {
        top: 60px;
        right: -100px;
        position: fixed;
        position: absolute;
        -webkit-transition: all .3s cubic-bezier(0.4,0.0,0.2,1);
        transition: all .4s cubic-bezier(0.07, 0.01, 0.9, 0.99);
        height: 110px;
        width: 50px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 13px rgba(0,0,0,0.25), 0 0px 4px rgba(0,0,0,0.22);
    }
        #left-menu > div {
            margin: 5px 0 5px 0;
            opacity: .54;
        }
        #left-menu > div:hover {
            opacity: 1;
        }
</style>

<form>
    <div class="box">
        <div style="position: relative;">
            <div id="left-menu">
            <div style="background: url(/images/SurveyIcon.svg) no-repeat -2px -3168px; width: 20px; height: 24px; cursor: pointer;" onclick="AddQuestion()"></div>
            <div style="background: url(/images/SurveyIcon.svg) no-repeat -2px -3458px; width: 20px; height: 22px; cursor: pointer;" onclick="GoBack()"></div>
            <div style="background: url(/images/SurveyIcon.svg) no-repeat -2px -4700px; width: 20px; height: 30px; cursor: pointer;" onclick="Save()"></div>
        </div>
        </div>
        <input id="SurveyName" style="width:90%;height: 46px;font-size: 30px; margin:5%;" type="text" placeholder="Название опроса" required
               oninvalid="this.setCustomValidity('Введите название опроса')"
               oninput="setCustomValidity('')">

        <textarea id="SurveyDescription" rows="1" style="width:90%;resize:none; margin-left:5%; font-size:20px" placeholder="Описание (не обязательно)"></textarea>
    </div>


    <div id="questions">


    </div>

    <input class="submit" type="submit" style="display:none">

</form>

<div style="border-bottom-style: groove; border-width: thin; margin-top:0em">
</div>



<script>

    var addedquest;
    var addedopt;

    $(document).ready(function () {
        addedquest = 0;
        addedopt = 0;
        autosize($('textarea'));
        $('#questions').sortable({
            axis: 'y',
            containment: '#questions',
            opacity: 1,
            tolerance: 'pointer'
        });
        $('.modalBox').css("width", "742px");
        $(window).scroll(function (e) {
            $('#left-menu').css('top', $(window).scrollTop() + 60 + 'px')
        });
    });


    function MakeSelectSlick(selectid) {
        $('#' + selectid).ddslick({
            width: 208,
            onSelected: function (selectedData) {
                var selectid = selectedData.original[0].id;
                var questid = $("#" + selectid).parent().parent().parent()[0].id;
                if (selectedData.selectedIndex === 0) {
                    $("#options" + questid).empty();
                    $("#" + questid + " #another").hide();
                    $("#" + questid + " #addnew").hide();
                    $("#" + questid + " #addnew label").show();
                    $("#" + questid + " #textoption").show();
                }
                else if (selectedData.selectedIndex === 1) {
                    $("#" + questid + " #textoption").hide();
                    $("#" + questid + " #addnew").show();
                    $("#" + questid + " #image").attr("src", "/images/radioboxoptions.png");
                }
                else if (selectedData.selectedIndex === 2) {
                    $("#" + questid + " #textoption").hide();
                    $("#" + questid + " #addnew").show();
                    $("#" + questid + " #image").attr("src", "/images/checkboxoptions.png");
                }
            }
        });

    }

    function AddAnother(id) {
        $("#" + id + " #another").show();
        $("#" + id + " #addnew label").hide();
    }

    function RemoveAnother(id) {
        $("#" + id + " #another").hide();
        $("#" + id + " #addnew label").show();
    }

    function AddQuestion() {


        var newquestion = "<div id=\"newquest{ID}\" class=\"box\" style=\"margin-top:1em;\">\
            <div style=\"justify-content: center;display: flex;margin-top:1em;\">\
                <img id=\"movenewquest{ID}\" src=\"/images/questiondots.png\" style=\"cursor:move;\" width=\"20\" height=\"10\">\
            </div>\
            <div class=\"separate\">\
                <div class=\"leftdiv\" style=\"width:60%;\">\
                    <textarea rows=\"1\" style=\"resize:none;width:90%;height: 36px;font-size: 20px; margin-top:1em; margin-right:5%;\" type=\"text\" placeholder=\"Название вопроса\" required oninvalid=\"this.setCustomValidity('Введите название вопроса')\" oninput=\"setCustomValidity('')\"></textarea>\
                </div>\
                <div class=\"rightdiv\" style=\"width:35%;margin-left:5%;\">\
                    <select id=\"newquest{ID}select\" style=\"width:100%;\">\
                        <option value=\"0\" data-imagesrc=\"/images/text.png\" data-description=\" \">Текст</option>\
                        <option value=\"1\" selected=\"selected\" data-imagesrc=\"/images/radiobox.png\" data-description=\" \">Один из списка</option>\
                        <option value=\"2\" data-imagesrc=\"/images/checkbox.png\" data-description=\" \">Несколько из списка</option>\
                    </select>\
                </div>\
            </div>\
            <div id=\"optionsnewquest{ID}\"></div>\
            <div id=\"textoption\" style=\"margin-top:1em;margin-left:5%;display:none\">\
                <input style=\"width:95%;height: 30px;font-size: 15px;\" disabled type=\"text\" placeholder=\"Текстовый ответ\">\
            </div>\
            <div id=\"another\" style=\"display:none;margin-top:1em\">\
                <img id=\"image\" src=\"/images/radioboxoptions.png\" width=\"20\" height=\"20\" style=\"margin-left:5%;\">\
                <input style=\"width:83%;height: 30px;font-size: 15px;\" disabled type=\"text\" placeholder=\"Другое...\">\
                <img src=\"/images/cross.png\" style=\"cursor:pointer\" width=\"20\" height=\"20\" onclick=\"RemoveAnother('newquest{ID}')\">\
            </div>\
            <div id=\"addnew\" style=\"margin-top:1em\">\
                <img id=\"image\" src=\"/images/radioboxoptions.png\" width=\"20\" height=\"20\" style=\"margin-left:5%;\">\
                <input style=\"height: 30px;font-size: 15px;width:127px\" type=\"text\" placeholder=\"Добавить вариант\" onclick=\"AddOption('newquest{ID}')\">\
                <label style=\"font-weight:normal\"> или <a style=\"cursor:pointer;font-weight:bold\" onclick=\"AddAnother('newquest{ID}')\">ДОБАВИТЬ ВАРИАНТ \"ДРУГОЕ\"</a></label>\
            </div>\
            <div class=\"hl\" style=\"margin-top:1em;\"></div>\
            <div class=\"questionfooter\" style=\"margin-top:0.5em;margin-bottom:0.5em;\">\
                <img src=\"/images/trashbin.png\" width=\"15\" height=\"20\" style=\"margin-right:2em;cursor:pointer;\" onclick=\"RemoveQuestion('newquest{ID}')\">\
                <div class=\"vl\" style=\"margin-right:2em\"></div>\
                <div style=\"margin-right:0.5em\">\
                    <label style=\"color:rgba(51, 51, 51, 0.78);\">Обязательный вопрос</label>\
                </div>\
                <div style=\"margin-right:5%\">\
                    <input type=\"checkbox\" id=\"newquest{ID}required\" style=\"display:none\" />\
                    <label for=\"newquest{ID}required\" class=\"toggle\"><span></span></label>\
                </div>\
            </div>\
        </div>";
        newquestion = newquestion.replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest);


        $("#questions").append(newquestion);
        MakeSelectSlick('newquest' + addedquest + 'select');
        autosize($('#newquest' + addedquest + ' div div textarea'));
        $('#optionsnewquest' + addedquest).sortable({
            axis: 'y',
            containment: '#optionsnewquest' + addedquest,
            opacity: 1,
            tolerance: 'pointer'
        });
        addedquest++;

    }

    function RemoveQuestion(surveyquestionid) {
        $("#" + surveyquestionid).remove();
    }

    function AddOption(surveyquestionid) {
        var newoption = "\
                <div id=\"newopt{ID}\" class=\"optionseparation\" style=\"margin-top:1em\">\
                    <div class=\"optionleft\">\
                        <img id=\"movenewopt{ID}\" src=\"/images/optiondots.png\" width=\"10\" height=\"20\" style=\"cursor:move;\">\
                    </div>\
                    <div class=\"optionright\">\
                        <img id=\"image\" src=\"{TYPE}\" width=\"20\" height=\"20\">\
                        <input style=\"width:87%;height: 30px;font-size: 15px;\" type=\"text\" placeholder=\"Ответ\" required oninvalid=\"this.setCustomValidity('Введите ответ')\" oninput=\"setCustomValidity('')\">\
                        <img src=\"/images/cross.png\" style=\"cursor:pointer\" width=\"20\" height=\"20\" onclick=\"RemoveOption('newopt{ID}')\">\
                    </div>\
                </div>"

        newoption = newoption.replace("{ID}", addedopt)
            .replace("{ID}", addedopt).replace("{ID}", addedopt).replace("{TYPE}", $("#" + surveyquestionid + " #addnew #image").attr('src'));

        $("#options"+ surveyquestionid).append(newoption);

        $('#newopt' + addedopt + ' input').focus();

        addedopt++;
    }

    function RemoveOption(optionid) {
        $("#" + optionid).remove();
    }

    function ChangeDivs(firstid, secondid) {

        div1 = $('#' + firstid);
        div2 = $('#' + secondid);

        tdiv1 = div1.clone();
        tdiv2 = div2.clone();

        div1.replaceWith(tdiv2);
        div2.replaceWith(tdiv1);
    }

    function UpQuestion(questionid) {
        var questions = $("#questions").children();
        if (questions.length < 2) {
            return;
        }

        var f = questions[0].id;
        if (f === questionid)
            return;
        var s;

        for (var i = 1; i < questions.length; i++) {
            s = questions[i].id;
            if (s === questionid) {
                ChangeDivs(f, s);
                return;
            }
            f = s;
        }
    }

    function DownQuestion(questionid) {
        var questions = $("#questions").children();
        if (questions.length < 2) {
            return;
        }

        var f = questions[questions.length - 1].id;
        if (f === questionid)
            return;
        var s;

        for (var i = questions.length - 2; i >= 0; i--) {
            s = questions[i].id;
            if (s === questionid) {
                ChangeDivs(f, s);
                return;
            }
            f = s;
        }
    }

    function UpOption(optionid) {
        var options = $("#" + optionid).parent().children();

        if (options.length < 2) {
            return;
        }

        var f = options[0].id;
        if (f === optionid)
            return;
        var s;

        for (var i = 1; i < options.length; i++) {
            s = options[i].id;
            if (s === optionid) {
                ChangeDivs(f, s);
                return;
            }
            f = s;
        }
    }

    function DownOption(optionid) {
        var options = $("#" + optionid).parent().children();

        if (options.length < 2) {
            return;
        }

        var f = options[options.length - 1].id;
        if (f === optionid)
            return;
        var s;

        for (var i = options.length - 2; i >= 0; i--) {
            s = options[i].id;
            if (s === optionid) {
                ChangeDivs(f, s);
                return;
            }
            f = s;
        }
    }

    function OnSelectChange(questionid) {
        if ($("#" + questionid + " select option:selected")[0].text == "Текстовый ответ") {
            $("#" + questionid + " #options").empty();
            $("#" + questionid + " #newoption").hide();
            $("#" + questionid + " #removequest").css("margin-left", "1em")
        }
        else {
            $("#" + questionid + " #newoption").show();
            $("#" + questionid + " #removequest").css("margin-left", "0em")
        }
    }

    function GoBack() {
        window.location = '@Url.Action("Surveys", "Admin")';
    }

    function Save() {
        var title = $("#SurveyName").val();
        var description = $("#SurveyDescription").val();

        var questions = [];

        var questiondivs = $("#questions").children();

        for (var i = 0; i < questiondivs.length; i++) {
            var question = [];
            var id = questiondivs[i].id;
            question.push(id);
            question.push($("#" + id + " div div textarea").val());

            $("#" + id + "select").ddslick('destroy');
            var select = $("#" + id + "select").val();
            var type;
            if (select === "0") {
                type = "2"
            }
            else if (select === "1") {
                type = "0"
            }
            else if (select === "2") {
                type = "1"
            }

            question.push(type);

            MakeSelectSlick(id + "select");

            if ($('#' + id + ' #another').css('display') == 'none') {
                question.push("False");
            }
            else {
                question.push("True");
            }

            if ($("#" + id + "required")[0].checked) {
                question.push("True");
            }
            else  {
                question.push("False");
            }

            if (select != 0) {
                var options = $("#options" + id).children();
                for (var j = 0; j < options.length; j++) {
                    var optionid = options[j].id;
                    question.push(optionid);
                    question.push($("#" + optionid + " div input").val());
                }
            }
            questions.push(question);
        }

        $.ajax(
            {
                url: '/Admin/Save',
                type: "POST",
                data: {'title': title, 'description': description, 'lines': questions },
                success: function (data) {
                    var url = '@Url.Action("Edit", "Admin", new { id = "--ID--" })';
                    url = url.replace("--ID--", data.id);
                    window.location.href = url;
                }
            });
    }


</script>









<style>

    html, body {
        height: 100%;
    }

    .toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 20px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
    }

        .toggle:before {
            content: "";
            position: relative;
            top: 3px;
            left: 3px;
            width: 34px;
            height: 14px;
            display: block;
            background: #9A9999;
            border-radius: 8px;
            transition: background 0.2s ease;
        }

        .toggle span {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            display: block;
            border: 1px solid darkgrey;
            background: white;
            border-radius: 10px;
            box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
            transition: all 0.2s ease;
        }

            .toggle span:before {
                content: "";
                position: absolute;
                display: block;
                margin: -18px;
                width: 56px;
                height: 56px;
                background: rgba(79, 46, 220, 0.5);
                border-radius: 50%;
                transform: scale(0);
                opacity: 1;
                pointer-events: none;
            }

    input[type=checkbox]:checked + .toggle:before {
        background: #947ADA;
    }

    input[type=checkbox]:checked + .toggle span {
        background: #4F2EDC;
        transform: translateX(20px);
        transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
        box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
    }

        input[type=checkbox]:checked + .toggle span:before {
            transform: scale(1);
            opacity: 0;
            transition: all 0.4s ease;
        }

    .center {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 20px);
    }
</style>

