
@{
    ViewData["Title"] = "Добавление нового опроса";
}

<style>
    label {
  display: inline-block;
  width: 200px;
  text-align: right;
}​
</style>

<div>
    <label class="h4 col-md-4">Название опроса: </label>
    <input class="h3 col-md-8" type="text" value="Новый опрос" />
</div>

<div>
    <label class="h5 col-md-4">Описание: </label>
    <input class="h4 col-md-8" type="text" value="" />
</div>



