
@{
    ViewData["Title"] = "Добавление нового опроса";
}

<script src="~/lib/jquery/dist/jquery.js"></script>


<script src="~/lib/autosize-master/dist/autosize.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/js/jquery.ddslick.min.js"></script>
<script src="~/js/polyfill.min.js"></script>
<script src="~/js/html2canvas.min.js"></script>
<link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
<script src="~/js/EditCreatescripts.js"></script>
<link rel="stylesheet" href="~/css/EditCreate.css" />
<script src="~/js/Messages.js"></script>





<style>

    #left-menu {
        height: 110px;
    }
</style>

<div class="form-container" style="padding-top: 30px;">

    <form id="SurveyForm">
        <div style="position: relative;">
            <div id="left-menu">
                <div title="Добавить вопрос" style="background: url(/images/SurveyIcon.svg) no-repeat -2px -3168px; width: 20px; height: 24px; cursor: pointer;" onclick="AddQuestion()"></div>
                <div title="Сохранить опрос" id="savebutton" style="background: url(/images/save.svg) no-repeat; width: 20px; height: 20px; cursor: pointer;" onclick="Save()"></div>
                <div title="Добавить картинку" id="addpicture" style="background:url(/images/addpicture.svg) no-repeat; width: 20px; height: 20px; cursor: pointer;" onclick="AddImage()"></div>
            </div>
        </div>
        <div class="box header">

            <div class="imagediv" style="display:none;">
                <img id="addedimage" src="" onload="ButtonDeleteImageSettings()">
                <input id="uploadinput" type="file" onchange="previewFile()" accept=".jpg, .jpeg, .png, .tif, .bmp, .gif">
                <div title="Удалить" id="deleteimagebutton" style="display:none;" onclick="DeleteAddedImage()"></div>
            </div>

            <div class="form-input">
                <input id="SurveyName" class="surveynameinput" type="text" placeholder="" required autocomplete="off"
                       oninvalid="this.setCustomValidity('Введите название опроса')"
                       oninput="setCustomValidity('')">
                <lable class="surveynamelabel">Название опроса</lable>
            </div>
            <div class="form-input">
                <textarea id="SurveyDescription" oninput="DescriptionInput()" class="surveydescriptioninput" rows="1" placeholder=""></textarea>
                <lable class="surveydescriptionlabel">Описание (не обязательно)</lable>
            </div>
        </div>

        <div id="questions">
        </div>

        <input id="submitButton" disabled class="submit" type="submit" style="display:none">

    </form>
</div>

<script>

    var addedquest;
    var addedopt;

    $(document).ready(function () {
        OnReady();

        MarginHead();
    });

    function Save() {
        var surveyid = null;
        var url = '@Url.Action("Edit", "Admin", new { id = "--ID--" })';

        SaveCommon(surveyid, url);
    }

</script>

