.form-container {
    width: 660px;
}

.modal-box {
    padding: 0px;
    padding-bottom: 30px;
}

a.dd-selected {
    color: rgba(51, 51, 51, 0.78);
}

label.dd-selected-text {
    cursor: pointer;
    font-size: 14px;
}

a.dd-option {
    color: rgba(51, 51, 51, 0.78);
}

label.dd-option-text {
    cursor: pointer;
    color: rgba(51, 51, 51, 0.78);
    font-size: 14px;
}

.dd-container,
.dd-select,
.dd-options.dd-click-off-close {
    width: 100% !important;
}

.question-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 90%;*/
    margin-left: 5%;
}

.leftdiv {
    width: 60%;
    margin-right: 0.5em;
    margin-top: 1em;
}

.rightdiv {
    width: 40%;
}

.contentBox {
    background-color: white;
    border: 1px solid;
    width: 742px;
    margin-top: 1em;
}

input[type=text] {
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
}

textarea {
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
}

.box {
    /*border-top-style: groove;*/
    /*border-top-width: thin;*/
}


    .box.header input,
    .box.header textarea {
        width: 100%;
    }

input:focus,
textarea:focus {
    outline: none;
}

.hl {
    border-bottom: 1px solid #c7c7c7;
    /*margin-left: auto;*/
    /* margin-right: auto;*/
    /* width: 95%*/
}

.vl {
    border-right: 1px solid #c7c7c7; /* Параметры линии */
    height: 30px;
    width: 1px;
}

.questionfooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.optionseparation {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.optionleft {
    width: 5%;
    display: flex;
}

.optionright {
    width: 95%;
    display: flex;
    align-items: center;
}

#left-menu {
    top: 60px;
    right: -90px;
    position: fixed;
    position: absolute;
    -webkit-transition: all .3s cubic-bezier(0.4,0.0,0.2,1);
    transition: all .4s cubic-bezier(0.07, 0.01, 0.9, 0.99);
    height: 135px;
    width: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 13px rgba(0,0,0,0.25), 0 0px 4px rgba(0,0,0,0.22);
}

    #left-menu > div, #left-menu > a, #left-menu > label {
        margin: 5px 0 5px 0;
        opacity: .54;
    }

        #left-menu > div:hover, #left-menu > a:hover, #left-menu > label:hover {
            opacity: 1;
        }

html, body {
    height: 100%;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

    .toggle:before {
        content: "";
        position: relative;
        top: 3px;
        left: 3px;
        width: 34px;
        height: 14px;
        display: block;
        background: #9A9999;
        border-radius: 8px;
        transition: background 0.2s ease;
    }

    .toggle span {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        display: block;
        border: 1px solid darkgrey;
        background: white;
        border-radius: 10px;
        box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
        transition: all 0.2s ease;
    }

        .toggle span:before {
            content: "";
            position: absolute;
            display: block;
            margin: -18px;
            width: 56px;
            height: 56px;
            background: rgba(79, 46, 220, 0.5);
            border-radius: 50%;
            transform: scale(0);
            opacity: 1;
            pointer-events: none;
        }

input[type=checkbox]:checked + .toggle:before {
    background: #947ADA;
}

input[type=checkbox]:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

    input[type=checkbox]:checked + .toggle span:before {
        transform: scale(1);
        opacity: 0;
        transition: all 0.4s ease;
    }

.center {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
}

.form-input {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    position: relative;
}

div[name=picture] {
    opacity: .54;
}

    div[name=picture]:hover {
        opacity: 1;
    }

#another {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.option-input {
    width: 92%;
    height: 30px;
    font-size: 15px;
    margin-left: 5px;
}

#questions {
    margin-left: 5%;
}

    #questions .box {
        border-top-style: groove;
        border-top-width: thin;
        width: 95%;
    }

        #questions .box:last-child {
            border-bottom-style: groove;
            border-bottom-width: thin;
        }

.surveynameinput {
    height: 46px;
    font-size: 30px;
    position: relative;
    background: none;
    z-index: 2;
}

    .surveynameinput:focus ~ .surveynamelabel,
    .surveynameinput:not(:focus):valid ~ .surveynamelabel {
        top: -5px;
        font-size: 12px;
        padding-left: 1.5px;
    }

.surveynamelabel {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    margin-top: -0.7em;
    transition: .3s;
    font-size: 30px;
    color: grey;
}

.surveydescriptioninput {
    resize: none;
    font-size: 20px;
    position: relative;
    background: none;
    z-index: 2;
}

    .surveydescriptioninput:focus + .surveydescriptionlabel,
    .surveydescriptioninputfilled + .surveydescriptionlabel {
        top: -5px;
        font-size: 12px;
        padding-left: 1.5px;
    }

.surveydescriptionlabel {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    margin-top: -0.8em;
    transition: .3s;
    font-size: 20px;
    color: grey;
}

.questiontitleinput {
    position: relative;
    background: none;
    z-index: 2;
    resize: none;
    width: 90%;
    font-size: 20px;
    margin-right: 5%;
}

    .questiontitleinput:focus ~ .questiontitlelabel,
    .questiontitleinput:not(:focus):valid ~ .questiontitlelabel {
        top: -5px;
        font-size: 12px;
        padding-left: 1.5px;
    }

.questiontitlelabel {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    margin-top: -0.7em;
    transition: .3s;
    font-size: 20px;
    color: grey;
    font-weight: normal;
}

.beforequestionfooter {
    display: none;
    margin-bottom: 1em;
}

.typeselect {
    width: 100%;
    display: none;
}

.minselect {
    display: none;
}

.ratingoption {
    margin-top: 0.5em;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.maxselect {
    display: none;
}

.minselectdiv,
.maxselectdiv {
    width: 10%;
}

.maxselectdiv {
    margin-left: 1em;
}

    .minselectdiv .dd-selected,
    .maxselectdiv .dd-selected,
    .minselectdiv .dd-option,
    .maxselectdiv .dd-option {
        padding: 7px;
        padding-left: 9px;
        height: 35px;
    }


.imagediv {
    position: relative;
}

.imagediv img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .imagediv input{
        display: none;
    }

    .imagediv div {
        background: url(/images/delete-button.svg) no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: .54;
        right: 2px;
        top: 2px;
        position: absolute;
    }

        .imagediv div:hover {
            opacity: 1;
        }



.box__upload {
    font-size: 1.75rem; /* 20 */
    /*background-color: #c8dadf;*/
    position: relative;
    /*padding: 45px;*/
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*outline: 2px dashed #ccc;*/
    /*outline-offset: -10px;*/
    -webkit-transition: padding .15s ease-in-out, background-color .15s linear;
    transition: padding .15s ease-in-out, background-color .15s linear;
    height: 120px;
}

.box__border {
    padding: 35px;
    border: 2px dashed #ccc;
    -webkit-transition: padding .15s ease-in-out, background-color .15s linear;
    transition: padding .15s ease-in-out, background-color .15s linear;
}


.box__upload.has-advanced-upload {
    height: auto;
}

.box__upload.is-dragover {
    /*outline-offset: -20px;*/
    /*outline-color: cornflowerblue;*/
    /*background-color: #fff;*/
    padding: 20px;
}

    .box__upload.is-dragover .box__border {
        padding: 25px;
        border-color: cornflowerblue;
    }


    .box__upload.is-dragover .box__label__drop {
        color: cornflowerblue;
    }

    .box__upload.is-dragover .box__icon {
        fill: cornflowerblue !important;
    }

.box__dragndrop,
.box__icon,
.box__label__drop,
.box__label__or {
    display: none;
}

.box__upload.has-advanced-upload .box__label__drop,
.box__upload.has-advanced-upload .box__label__or {
    display: inline;
}


.box__upload.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box__upload.has-advanced-upload .box__icon {
    /* width: 100%; */
    /* height: 80px; */
    display: block;
    margin-bottom: 20px;
    fill: #ccc;
}

.box__error {
    display: none;
}

.box__upload.is-error .box__error {
    display: block;
    position: absolute;
    /*top: 50%;*/
    right: 0;
    left: 0;
    bottom: 10px;
    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
    text-align: center;
    color: indianred;
    font-size: 15px;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__label__drop,
.box__label__or {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*cursor: pointer;*/
    /*display: inline-block;*/
    overflow: hidden;
    font-weight: normal;
    color: #ccc;
    outline: none !important;
}

.box__label__drop {
    font-size: 20px;
}

.box__label__or {
    font-size: 15px;
    margin-top: 0.5em;
}

.box__button__choose {
    font-weight: 700;
    font-size: 14px;
    color: #e5edf1;
    /*background-color: #39bfd3;*/
    background-color: cornflowerblue;
    padding: 8px;
    /*margin: 40px auto 0;*/
    border: none;
    width: auto !important;
    border-radius: 3px;
    cursor: pointer;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__button__choose:hover {
    background-color: #4d90fe;
}

.box__button:hover,
.box__button:focus {
    background-color: #0f3c4b;
}

.box__input {
    display: flex;
    flex-direction: column;
    align-items: center;
}