body {
    height: 100%;
    background-color: #ede7f6;
}
.modal-box {
    margin: 30px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22) ;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    width: fit-content;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.3px black;
}

.content-flex-continer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.body-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
    justify-content: center;
}

.footer {
    flex: 0 0 auto;
    height: 40px;
}
